.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    .paddfont {
        /* height: 34px; 
        margin-left: 15px; 
        width: 191px;  */
        padding-left: 5px;
        padding-right: 5px;
    }